@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    src: local('Roboto'), local('Roboto-Regular'), url(../fonts/OpenSans-Regular.ttf) format('true-type');
}

@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    src: url(../fonts/Ubuntu-Regular.ttf) format('true-type');
}

* {
    box-sizing: border-box;
}

body {
    font-family: Open Sans;
    color: #46494E;
    font-size: 16px;
    line-height: 26px;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: Ubuntu;
    font-size: 26px;
    color: #9D000D;
    line-height: 40px;
    margin-bottom: 10px;
}

h2 {
    font-family: Ubuntu;
    font-size: 18px;
    color: #9D000D;
    line-height: 26px;
    margin: 0 0 5px 0;
}

#section0 {
    background-image: url(../img/meyvn.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Why-Section */

#slideWhyPicture {
    background-image: url(../img/meyvn_freisteller.png);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-position-y: 25%;
}

#slideHowUse1 {
    background-image: url(../img/use1.png);
    background-size: 30%;
    background-repeat: no-repeat;
    background-position-x: 85%;
    background-position-y: 40%;
}

#slideHowUse2 {
    background-image: url(../img/use2.png);
    background-size: 30%;
    background-repeat: no-repeat;
    background-position-x: 85%;
    background-position-y: 40%;
}

#slideHowUse3 {
    background-image: url(../img/use3.png);
    background-size: 30%;
    background-repeat: no-repeat;
    background-position-x: 85%;
    background-position-y: 40%;
}

.what_text {
    width: 50%;
    padding-left: 120px;
    text-align: left;
    position: relative;
    top: -15%;
}

/* Where-Section */

#section2 {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.span1 {
    width: 33.33%;
    height: auto;
    display: inline-block;
}

.span2 {
    width: 33.33%;
    height: auto;
    display: inline-block;
}

.span3 {
    width: 33.33%;
    height: auto;
    display: inline-block;
}

.container {
    position: relative;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #9D000D;
    box-sizing: border-box;
}

.container:hover .overlay {
    opacity: 1;
}

.container:focus .overlay {
    opacity: 1;
}

.text {
    color: #fff;
    font-size: 20px;
    position: absolute;
    min-width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.quelle {
   position: absolute;
   bottom: 5px;
   right: 5px;
   font-size: 12px;
   color: #E4DAC5;
}

/* Charakter-Section */

#section3 {
    padding: 10px 100px 10px 100px;
    color: #46494E;
    height: 100%;
    width: 100%;
}

.row1_videos {
    width: 100%;
    vertical-align: top;
    padding-bottom: 30px;
}

.row2_videos {
    width: 100%;
    vertical-align: top;
}

.character_videos {
    width: 50%;
    height: auto;
    max-height: 50%;
    display: inline-block;
    padding: 10px;
    text-align: center;
    vertical-align: top;
}

.character_videos video {
    width: auto;
    max-height: 70%;
    height: auto;
    max-width: 70%;
    border-radius: 5px;
    padding: 10px 0 10px 0;
}

.text_character {
    text-align: left;
    width: 70%;
    margin-left: 15%;
}

/* Technology-Section */

#slideInside {
    background-image: url(../img/tk.jpg);
    background-size: cover;
    background-position: center center;
}

.box {
    position: relative;
    width:1024px;
    height: 100%;
    margin: auto;
}

.plus img {
    width: 24px;
    opacity: 0.5;
}

.panel, .flip {
    text-align: center;
  }
  
.panel {
    padding: 10px;
    display: none;
    text-align: left;
    font-size: 16px;
    color: #fff;
    background-color: #9D000D;
    margin-right: 0;
    margin-top: 0;
    position: absolute;
    right: 30px; 
    top:0;
}

#plus_schirm{
    left: 31%;
    top: 13%;
    position: absolute;
}

#plus_kamera{
    margin-left: 18%;
    margin-top: 23%;
    position: absolute;
}

#plus_beamer{
    margin-left: 34%;
    margin-top: 26%;
    position: absolute;
}

#plus_stift{
    margin-left: 36%;
    margin-top: 34%;
    position: absolute;
}

#plus_arm{
    margin-left: 90%;
    margin-top: 24%;
    position: absolute;
}

#plus_licht{
    margin-left: 37%;
    margin-top: 20%;
    position: absolute;
}

#plus_an{
    margin-left: 32%;
    margin-top: 5%;
    position: absolute;
}

#plus_halterung{
    left: 39%;
    top: 18%;
    position: absolute;
}

#slideHowItWorks1 {
    background-image: url(../img/flow1.png);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-position-y: 30%;
}

#slideHowItWorks2 {
    background-image: url(../img/flow2.png);
    background-size: 35%;
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-position-y: 30%;
}

#slideHowItWorks3 {
    background-image: url(../img/flow3.png);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-position-y: 30%;
}

/* Archetypen-Section */

#section5 {
    overflow: hidden;
}

#slide1 {
    background-image: url(../img/arc1.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left center;
    background-size: 50%;
}

#slide2 {
    background-image: url(../img/arc2.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left center;
    background-size: 50%;
}

#slide3 {
    background-image: url(../img/arc3.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left center;
    background-size: 50%;
}

.statement {
    width: 45%;
    position: relative;
    top: 0;
    left: 52%;
    padding: 50px;
    font-family: Ubuntu;
    font-size: 30px;
    line-height: 50px;
    color: #9D000D;
    display: inline-block;
    text-align: left;
    vertical-align: center;
}

/* Community-Section */

.logo {
    width: 100%;
    padding: 50px;
    vertical-align: center;
}

.logo img {
    width: 50%;
    margin-left: 25%;
}

.logo_text {
    width: 100%;
    text-align: center;
    margin-top: 100px;
}

.logo_text h1 {
    font-size: 35px;
}

/* Trailer-Section */

#section7 {
    overflow: hidden;
}

#trailer {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-color: black;
    background-position: center center;
    background-size: cover;
    object-fit: cover;
    /*cover video background */
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.trailer {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    position: relative;
    margin: auto;
}

/* Value-Section */

#section8 {
    overflow: hidden;
    background-color: #9D000D;
    padding-left: 200px;
    padding-right: 200px;
}

.span_values {
    width: 100%;
    vertical-align: top;
    display: block;
    padding-bottom: 20px;
}

.span_values .value_text {
    width: 50%;
    color: #fff;
    display: inline-block;
    vertical-align: top;
    padding: 50px;
}

.values h1 {
    color: #E4DAC5;
}

/* Team-Section */

.team {
    width: 100%;
    text-align: center;
}

.team_person {
    display: inline-block;
    width: 20%;
    min-width: 160px;
}

.team img {
    width: 100%;
    border-radius: 100%;
    padding: 30px;
    display: block;
}

.name {
    width: 100%;
    padding: 30px;
    display: block;
}

.mantra {
    text-align: center;
    margin-top: 100px;
    width: 100%;
}