@font-face {
    font-family:'Open Sans';
    font-style: normal;
    src: local('Roboto'), local('Roboto-Regular'),
    url(../fonts/OpenSans-Regular.ttf) format('true-type');
 }
 
 @font-face {
    font-family:'Ubuntu';
    font-style: normal;
    src: url(../fonts/Ubuntu-Regular.ttf) format('true-type');
 }

* {
    box-sizing: border-box;
}

body {
    font-family: Open Sans;
    color: #46494E;
    font-size: 16px;
    line-height: 26px;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: Ubuntu;
    font-size: 26px;
    color: #9D000D;
}

h2 {
    font-family: Ubuntu;
    font-size: 18px;
    color: #E4DAC5;
    line-height: 26px;
    margin: 0 0 5px 0;
}

#section0 {
    background-image: url(../img/meyvn1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Why-Section */

#section1 {
    background-image: url(../img/meyvn_freisteller.png);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position-x: right;
}

.what_text {
    width: 50%;
    padding-left: 120px;
    text-align: left;
    position: relative;
    top: -15%;
}

/* Where-Section */

#section2 {
    overflow: hidden;
}

.span1 {
    width: 33.3%;
    display: inline-block;
}

.span2 {
    width: 33.3%;
    display: inline-block;
}

.span3 {
    width: 33.3%;
    display: inline-block;
}

.container {
    position: relative;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #9D000D;
    box-sizing: border-box;
}

.container:hover .overlay {
    opacity: 1;
}

.container:focus .overlay {
    opacity: 1;
}

.text {
    color: #fff;
    font-size: 20px;
    position: absolute;
    min-width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

/* Charakter-Section */

#section3 {
    padding: 20px;
    background-color: #46494E;
    color: #fff;
}

.character_videos {
    width: 50%;
    height: auto;
    max-height: 50%;
    display: inline-block;
    padding: 10px;
    text-align: center;
}

.character_videos video {
    width: auto;
    max-height:70%;
    height: auto;
    max-width: 100%;
    border-radius: 10px;
}

.text_character {
    text-align: left;
}

/* Technology-Section */

#section4 {
    background-image: url(../img/meyvn1.jpg);
    background-size: cover;
}

/* Archetypen-Section */

#section5 {
    overflow: hidden;
}

#slide1 {
    background-image: url(../img/arc1.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 50%;
}

#slide2 {
    background-image: url(../img/arc2.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 50%;
}

#slide3 {
    background-image: url(../img/arc3.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 50%;
}

.statement {
    width: 49%;
    position: relative;
    top: -15%;
    left: 50%;
    padding: 50px;
    font-family: Ubuntu;
    font-size: 30px;
    line-height: 50px;
    color: #9D000D;
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

/* Community-Section */

.logo {
    width: 100%;
    padding: 50px;
    vertical-align: center;
}

.logo img {
    width: 50%;
    margin-left: 25%;
}

.logo_text {
    width: 100%;
    text-align: center;
    margin-top: 70px;
}

/* Trailer-Section */

#section7 {
    overflow: hidden;
}



#trailer {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-color: black;
    background-position: center center;
    background-size: cover;
    object-fit: cover;
    /*cover video background */
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.trailer {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    position: relative;
    margin: auto;
    
}

/* Value-Section */

#section8 {
    overflow: hidden;
    background-color: #9D000D;
    padding-left: 150px;
    padding-right: 150px;
}

.value_text {
    width: 49%;
    padding: 20px;
    height: 200px;
    display: inline-block;
    color: #fff;
}

.values h1 {
    color: #ffffff;
}

/* Team-Section */

.team {
    width: 100%;
    text-align: center;
}

.team_person {
    display: inline-block;
}

.team img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin: 30px;
}

.name {
    width: 200px;
    margin: 30px;
    display: block;
}

.mantra {
    text-align: center;
    margin-top: 100px;
    width: 100%;
}