*{
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Open Sans;
  color:  #46494E;
  font-size: 12pt;
  line-height: 18pt;
}

h1 {
  font-family: Ubuntu;
  font-size: 20pt;
  color: #9D000D;
}

.header {
  width: 100%;
}

.img_header {
  width: 100%;
  display: inline-block;
}

.content {
  width: 80%;
  margin-left: 10%;
}

.what {
  margin-top: 100px;
  margin-bottom: 250px;
  width: 50%;

}

.where {
  margin-top: 100px;
  display: inline-block;
}

.where img {
  width: 33.33%;
}

.charakter img {
  width: 100%;
}

.person {
  margin-top: 50px;
  width: 100%;
}
.photo {
  width: 50%;
  display: inline-block;
}

.photo img {
  width: 100%;
  height: 650px;
}

.statment{
  width: 49%;
  padding: 30px;
  font-family: Ubuntu;
  font-size: 30px;
  line-height: 50px;
  color: #9D000D;
  display: inline-block;
  vertical-align: top;
  margin-top: 130px;
  text-align: center;
}

.logo {
  margin-top: 100px;
  padding: 50px;
}

.logo img {
  width: 50%;
}

.trailer {
  width: 100%;
}

.trailer video {
  width: 100%;
}

.values img{
  width: 100%;
}


.team {
  width: 100%;
  text-align: center;
  margin-top: 100px;
}

.team img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  margin: 30px;

}

.name {
  width: 200px;
  margin: 30px;
  display: inline-block;

}

.mission {
  text-align: center;
  margin: 150px;
}

.color_three {
  background-color: #E4DAC5;
}
