* {
  box-sizing: border-box;
}

body {
  font-family: Open Sans;
  color: #46494E;
  font-size: 12pt;
  line-height: 18pt;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: Ubuntu;
  font-size: 20pt;
  color: #9D000D;
}


/* Start-Slide */

.header {
  width: 100%;
}

.img_header {
  width: 100%;
  display: inline-block;
}


/* Was-Slide */

.what {
  width: 100%;
}

.what_text {
  width: 50%;
  padding-left: 120px;
  display: inline-block;
}

.freisteller {
  width: 40%;
  display: inline-block;
  vertical-align: top;
}

.freisteller img {
  width: 100%;
  display: inline-block;
}


/* Umgebungs-Slide */

.environment {
  box-sizing: border-box;
  vertical-align: top;
}

.span1 {
  display: inline-block;
  width: 33.3%;
}

.span2 {
  display: inline-block;
  width: 33.33%;
}

.span3 {
  display: inline-block;
  width: 33.33%;
}

.container {
  position: relative;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #9D000D;
  box-sizing: border-box;
}

.container:hover .overlay {
  opacity: 1;
}

.container:focus .overlay {
  opacity: 1;
}

.text {
  color: #fff;
  font-size: 20px;
  position: absolute;
  min-width: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}


/* Charakter-Slide */

.charakter img {
  width: 100%;
}


/* Archetypen-Slide */

.person {
  width: 100%;
}

.photo {
  width: 50%;
  display: inline-block;
}

.photo img {
  width: 100%;
}

.statment {
  width: 49%;
  padding: 30px;
  font-family: Ubuntu;
  font-size: 30px;
  line-height: 50px;
  color: #9D000D;
  display: inline-block;
  vertical-align: top;
  margin-top: 130px;
  text-align: center;
}


/* Logo-Slide */

.logo {
  width: 100%;
  margin-top: 100px;
  padding: 50px;
  margin-bottom: 150px;
  vertical-align: center;
}

.logo img {
  width: 50%;
  margin-left: 25%;
}

.logo_text {
  width: 100%;
  text-align: center;
  margin-top: 70px;
}


/* Trailer-Slide */

.trailer {
  width: 100%;
}

.trailer video {
  width: 100%;
}


/* Value-Slide */

.values {
  width: 100%;
  background-color: #9D000D;
  height: 700px;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 100px;
}

.value_text {
  width: 49%;
  padding: 20px;
  height: 200px;
  display: inline-block;
  color: #fff;
}

.values h1 {
  color: #ffffff;
}


/* Team-Slide */

.team {
  width: 100%;
  text-align: center;
}

.team_person {
  display: inline-block;
}

.team img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  margin: 30px;
}

.name {
  width: 200px;
  margin: 30px;
  display: block;
}

.mantra {
  width: 100%;
  text-align: center;
  margin-top: 100px;
}
